# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.wrangler/state/v3/d1/miniflare-D1DatabaseObject/4478565d1bebcd0a0b0baf8470e8b62455b31e81981d9f652aa1a98c3dbe86e6.sqlite-wal
.wrangler/tmp/bundle-VT3srz/middleware-insertion-facade.js
.wrangler/
public/vite.svg-back
